<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <!-- This section contains the log4net configuration settings.-->
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- Log file name -->
      <file value="C:\\TFPSLogs\REVCheckOutLogs\REVCheckOut.txt"/>
      <!-- Append to the file -->
      <appendToFile value="true"/>
      <!--Flag that indicates to use the static file name.-->
      <staticLogFileName value="true"/>
      <!-- Rollback the file based on Size-->
      <rollingStyle value="Size"/>
      <!-- Maximum file size -->
      <maximumFileSize value="5MB"/>
      <!-- Maximum number of backup files needs to be stored -->
      <maxSizeRollBackups value="5"/>
      <!-- Configure the pattern layout -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %thread %logger %class %method %line %message%newline"/>
      </layout>
    </appender>
    <!-- Specify the level for some specific categories -->
    <logger name="REVCheckOut">
      <level value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
  </log4net>
  <appSettings>
    <!--This is the url for the Focus Connect for sending the checkout transaction information.-->
    <add key="FocusConnectUrl" value="http://10.1.18.232/FocusConnect/Transact.aspx"/>
    <!--<add key="FocusConnectUrl" value="http://localhost:54037/Chanakya/transact.aspx"/>-->
    <!--<add key="FocusConnectUrl" value="http://localhost:58355/Chanakya/Transact.aspx"/>-->
    <!--This is for white-labeling the Request and Response types.-->
    <add key="RequestResponseTemplate" value="TFPS"/>
    <!--This is the name of Platform policies.-->
    <add key="PolicyName" value="TF Payments Policies"/>
    <!--This is the url for the Platform policies.-->
    <add key="PolicyUrl" value="http://www.tfpayments.com/policies.aspx"/>
    <!--This is the name of Platform company.-->
    <add key="PlatformName" value="TFPayments Inc"/>
    <!--This is the url for the Platform company.-->
    <add key="PlatformUrl" value="http://www.tfpayments.com/"/>
    <!--This is the current version of FcousPay CheckOut.-->
    <add key="Version" value="1.0.4.1"/>
    <add key="NewTokenUrl" value="http://tempuri.org/IMain/GetNewToken"/>
    <add key="AuthorizePaymentCardUrl" value="http://tempuri.org/IMain/AuthorizePaymentCard"/>
    <add key="ConvertQuoteUrl" value="http://tempuri.org/IMain/ConvertQuote"/>
    <add key="MilacronWebserviceUrl" value="https://portal.milacronaftermarket.com/MGSL_Test/Main.svc"/>
    <!--<add key="MilacronWebserviceUrl" value="https://portal.milacronaftermarket.com/MGSL_Dev2/Main.svc"/>-->
    <!--<add key="UserName" value="milacronglobal10@gmail.com"/>-->
    <add key="UserName" value="milacronglobal7@gmail.com"/>
    <add key="Password" value="passw@rd"/>
    <add key="IsRequestLog" value="true"/>
    <add key="httptimeout" value="60000"/>
    <add key="ValidUrl1" value="http://localhost:56848/ShoppingCart/payform.aspx"/>
    <add key="ValidUrl2" value=""/>
    <add key="ValidUrl3" value=""/>
    <add key="ValidUrl4" value=""/>
    <add key="xmllogger" value="C:\\TFPSLogs\REVCheckOutXMLLogs"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
   
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <!--<assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>-->
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="On" defaultRedirect="ErrorPage.aspx"/>
    <pages theme="00" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
      <!-- Register the HttpHandler used for BotDetect Captcha 
      requests -->
      <!--<add verb="GET" path="BotDetectCaptcha.ashx"
        type="BotDetect.Web.CaptchaHandler, BotDetect"/>-->
    </httpHandlers>
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="MSCaptcha" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </handlers>
  </system.webServer>
</configuration>