<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="QueueReader" connectionString="Server=192.168.1.51\TFDEVSERVER;database=VentoDev;uid=TfDevadmin;Pwd=TfDevadmin;enlist=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    
    <!--Codes for different Row Status.-->
    <add key="Closed" value="0"/>
    <add key="Error" value="1"/>
    <add key="Retry" value="2"/>
    <add key="WorkInProgress" value="3"/>
    <add key="ReadyToPost" value="4"/>
    <add key="RetryFailure" value="5"/>

    <!--Email Server vertsion-->
    <add key="VersionNumber" value="1.0.20.5"/>
    
    <!--Sql server command timeout value.-->
    <add key="CommandTimeOutValue" value="180"/>
    
    <!--Log file path.-->
    <add key="logFilePath" value="C:\TFPSLogs\FPEmailServer\"/>
    <!--Log file name.-->
    <add key="LogFileName" value="FPEmailServer.log"/>
    
    <!--Email To address of the user [UAT - tfdemouser10@gmail.com] [Live - support@tfpayments.com].-->
    <add key="LogToAddress" value="tfdemouser10@gmail.com"/>
    <!--Email From address [UAT - tfdemouser10@gmail.com] [Live - support@tfpayments.com].-->
    <add key="LogFromAddress" value="tfdemouser10@gmail.com"/>
    <!--Email subject.-->
    <add key="EmailSubject" value="FocusPay Email Server Error Notification"/>
    <!--SMTP server IP address.-->
    <add key="SMTPServer" value="127.0.0.1"/>
    <!--SMTP server Port.-->
    <add key="SMTPPort" value="25"/>
    
    <!--Age threshold for the log file.-->
    <add key="AgeThresholdUnit" value="Days"/>
    <!--Size threshold unit for the log file.-->
    <add key="SizeThresholdUnit" value="MB"/>
    <!--Size threshold for the log file.-->
    <add key="SizeThreshold" value="1"/>
    
    <!--Web Mail SMTP server address.-->
    <!--<add key="WebMailSMTPServer" value="smtp.bizmail.yahoo.com" />-->
    <add key="WebMailSMTPServer" value="smtp.gmail.com"/>
    <!--Web Mail SMTP server Port.-->
    <add key="WebMailSMTPPort" value="465"/>
    <!--Web Mail SMTP server authentication check flag.-->
    <add key="IsAuthenticationRequired" value="true"/>
    <!--Web Mail Email Address.-->
    <add key="WebMailEmailID" value="focuspaysupport@thoughtfocus.com" />    
    <!--Web Mail Email Password.-->
    <add key="WebMailEmailPwd" value="pays@tffocus" />   
    <!--Web Mail SMTP server SSL check flag.-->
    <add key="IsSslRequired" value="true"/>
    
    <!--Timer polling interval.-->
    <add key="IntervalSeconds" value="5"/>
    
    <!--Platform Name [UAT - TFPayments Inc] [Live - TFPayments Inc].-->
    <add key="PlatformName" value="TFPayments Inc"/>    
    <!--Platform Sales e-mail address [UAT - tfdemouser9@gmail.com] [Live - Sales@tfpayments.com]-->
    <add key="PlatformSalesEmail" value="tfdemouser9@gmail.com"/>
    <!--Platform Support e-mail address [UAT - tfdemouser10@gmail.com] [Live - support@tfpayments.com]-->
    <add key="PlatformSupportEmail" value="tfdemouser10@gmail.com"/>
    <!--Platform website address [UAT - http://www.tfchanakya.net] [Live - http://www.tfpayments.com] -->
    <add key="PlatformWebsite" value="http://www.tfchanakya.net"/>
    <!--Platform Sales Url [UAT - http://www.tfchanakya.net/Sales.aspx] [Live - http://www.tfpayments.com/sales.aspx] -->
    <add key="PlatformSalesUrl" value="http://www.tfchanakya.net/Sales.aspx"/>
    <!--Platform Sales Url [UAT - http://www.tfchanakya.net/Support.aspx] [Live - http://www.tfpayments.com/support.aspx] -->
    <add key="PlatformSupportUrl" value="http://www.tfchanakya.net/Support.aspx"/>
    <!--Used for bringing out the product brand name in subject and email body [UAT - FocusPay] [Live - FocusPay]-->
    <add key="BrandName" value="FocusPay"/>
    <!--Emaid ID that will seen on recipient "From" address [UAT - tfdemouser10@gmail.com] [Live - support@tfpayments.com]-->
    <add key="PlatformFromEmail" value="tfdemouser10@gmail.com"/>
    
    <!--Required minimum password length.-->
    <add key="MinimumPasswordLength" value="7"/>
    <!--Maximum invalid consecutive password attempts allowed.-->
    <add key="InvalidPasswordAttempts" value="6"/>
    <!--Password cannot be same as any of the last 'SamePasswordUsage' valued passwords used.-->
    <add key="SamePasswordUsage" value="4"/>
    <!--Change passwords at least every 'ForceChangePassword' valued days.-->
    <add key="ForceChangePassword" value="90"/>
    <!--Lock-in duration in minutes for the locked user.-->
    <add key="LockOutTimeDuration" value="30"/>
    <!--Session timeout value in minutes.-->
    <add key="IdleTimeDuration" value="15"/>
    <!--Inactive days duration after which the user account will be disabled.-->
    <add key="UserInActiveDays" value="90"/>
    
    <!--Minimum length for the User ID.-->
    <add key="MinimumUIDLength" value="6"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
