<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="QueueReader" connectionString="Server=WLE12GB6;database=TFPSDev;uid=test;Pwd=test123;enlist=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Codes for different Row Status-->
    <add key="Closed" value="0"/>
    <add key="Error" value="1"/>
    <add key="Retry" value="2"/>
    <add key="WorkInProgress" value="3"/>
    <add key="ReadyToPost" value="4"/>
    <add key="RetryFailure" value="5"/>
    <!--Service Name-->
    <add key="ServiceName" value="FocusPayEmailServer"/>
    <!--Sql server command time out value-->
    <add key="CommandTimeOutValue" value="180"/>
    <!--Log file path-->
    <add key="logFilePath" value="C:\FPEmailServer\"/>
    <!--Log file name-->
    <add key="LogFileName" value="FPEmailServer.log"/>
    <!--Email To address of the user-->
    <add key="ToAddress" value="nandanmp@thoughtfocus.com"/>
    <!--Email From address -->
    <add key="FromAddress" value="admin@focuspay.com"/>
    <!--Email subject -->
    <add key="EmailSubject" value="FocusPay Email Server Error Notification"/>
    <!--SMTP server IP address-->
    <add key="SMTPServer" value="127.0.0.1"/>
    <!--SMTP server Port-->
    <add key="SMTPPort" value="25"/>
    <!--Age threshold for the log file-->
    <add key="AgeThresholdUnit" value="Days"/>
    <!--Size threshold unit for the log file-->
    <add key="SizeThresholdUnit" value="MB"/>
    <!--Size threshold for the log file-->
    <add key="SizeThreshold" value="1"/>
    <!--Timestamp format for the log file-->
    <add key="TimeStampFormat" value="yyyy-MM-dd"/>
    <!-- FocusPay Customer Support Contact Number-->
    <add key="FocusPayVoiceSupport" value="+9180 41478004"/>
    <!-- FocusPay Customer Support Email Address-->
    <add key="FocusPayEmailSupport" value="focuspaysupport@thoughtfocus.com"/>
    <!-- FocusPay Receipt Logo-->
    <add key="ReceiptLogoName" value="Test.jpg"/>
    <!--Web Mail SMTP server address-->
    <add key="WebMailSMTPServer" value="smtp.gmail.com"/>
    <!--Web Mail SMTP server Port-->
    <add key="WebMailSMTPPort" value="465"/>
    <!--Web Mail Email Address-->
    <!--<add key="WebMailEmailID" value="focuspaysupport@thoughtfocus.com" />-->
    <add key="WebMailEmailID" value="nazrintajr@gmail.com"/>
    <!--Web Mail Email Password-->
    <!--<add key="WebMailEmailPwd" value="pays@tffocus" />-->
    <add key="WebMailEmailPwd" value="ckmajpbng"/>
    <!--Use Local SMTP Server-->
    <add key="UseLocalSMTPServer" value="false"/>
    <add key="IntervalSeconds" value="5"/>
    <add key="PlatformSignatureImage" value="logoname"/>
    <add key="PlatformName" value="vaultpos"/>
    <add key="PlatformSalesPhone" value="1-232-2342"/>
    <add key="PlatformSalesEmail" value="nkdevs2001@yahoo.co.in"/>
    <add key="PlatformSupportEmail" value="devaraja9@gmail.com"/>
    <add key="PlatformSupportPhone" value="1-233-3432"/>
    <add key="PlatformLogo" value="Test"/>
    <add key="PlatformWebsite" value="www.newplatform.com"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
