<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- This section allows the custom configuration section registration.-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="SSRSConfigurationSection" type="TF.ReceiptManager.SSRSConfiguration.SSRSConfigurationSection, TF.ReceiptManager.SSRSConfiguration"/>
    <section name="ReportConfigurationSection" type="TF.ReceiptManager.ReportConfiguration.ReportConfigurationSection, TF.ReceiptManager.ReportConfiguration"/>
    <section name="GMapsConfigurationSection" type="TF.ReceiptManager.GMapsConfiguration.GMapsConfigurationSection, TF.ReceiptManager.GMapsConfiguration"/>
  </configSections>

  <!-- This section contains the log4net configuration settings.-->
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- Log file name -->
      <file value="C:\\TFPSLogs\ReceiptManagerLogs\ReceiptManager.txt"/>
      <!-- Append to the file -->
      <appendToFile value="true"/>
      <!--Flag that indicates to use the static file name.-->
      <staticLogFileName value="true"/>
      <!-- Rollback the file based on Size-->
      <rollingStyle value="Size"/>
      <!-- Maximum file size -->
      <maximumFileSize value="5MB"/>
      <!-- Maximum number of backup files needs to be stored -->
      <maxSizeRollBackups value="5"/>
      <!-- Configure the pattern layout -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %thread %logger %class %method %line %message%newline"/>
      </layout>
    </appender>
    <!-- Specify the level for some specific categories -->
    <logger name="RMR">
      <level value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
  </log4net>

  <!-- This section contains the SQL Server Reporting Services(SSRS) configuration settings.-->
  <SSRSConfigurationSection>
    <!-- SSRS Url and network credentials if required.-->
    <SSRS Url="http://192.168.1.72/ReportServer_ACE/ReportExecution2005.asmx" IsAuthenticationRequired ="true" Domain="ftp1" UserName="user" Password="user" />
  </SSRSConfigurationSection>

  <!-- This section contains the SSRS report format configuration settings.-->
  <ReportConfigurationSection>
    <!-- SSRS report template path and output format.-->
    <!-- Use the following combinations to generate various formats of the receipt.-->
    <!-- Format="PDF"   ContentType="application/pdf"           FileExtension="pdf"-->
    <!-- Format="EXCEL" ContentType="application/vnd.ms-excel"  FileExtension="xls"-->
    <!-- Format="IMAGE" ContentType="image/tiff"                FileExtension="tif"-->
    <!-- Format="MHTML" ContentType="multipart/related"         FileExtension="mhtml"-->
    <!-- Format="XML"   ContentType="text/xml"                  FileExtension="xml"-->
    <!-- Format="CSV"   ContentType="text/plain"                FileExtension="csv"-->
    <!-- Format="WORD"  ContentType="application/msword"        FileExtension="doc"-->
    <Report Path="/TFPS/DeveReceipt" Format="PDF" ContentType="application/pdf" FileExtension="pdf" IsFileStorageAllowed="true" LocalPath="D:\\TFPSReceipts\" SendReceiptDataToEmailQueue="false" />
  </ReportConfigurationSection>

  <!-- This section contains the Google Static Maps configuration settings.-->
  <GMapsConfigurationSection>
    <!-- Google Static Maps url and its attributes like Zoom level, Size, Image format, Map type....-->
    <!-- Center should be of string in the format of comma-separated {latitude,longitude} pair.-->
    <!-- Zoom level should be of integer value in between 0 to 21.-->
    <!-- Size should be of string in the format of widthxheight.-->
    <!-- Allowed image formats are png8/png, png32, gif, jpg and jpg-baseline.-->
    <!-- Allowed map types are roadmap, satellite, terrain and hybrid.-->
    <!-- Markers should be of string in the format of comma-separated {latitude,longitude} pair.-->
    <!-- Sensor indicates whether or not the application is using a sensor device.-->
    <GoogleStaticMaps Url="http://maps.google.com/maps/api/staticmap" Center="{0},{1}" Zoom="13" Size="512x512" Format="png32" Maptype="roadmap" Markers="{0},{1}" Sensor="false" />
  </GMapsConfigurationSection>

  <!-- This section contains the WCF Service configuration settings.-->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ReceiptGenServiceBehavior"
        name="TF.ReceiptManager.RGen.GenReceipt">
        <endpoint address="net.msmq://localhost/private/receiptmanager" binding="netMsmqBinding" contract="TF.ReceiptManager.IRGen.IGenReceipt" bindingConfiguration="NetMsmqBinding_IGenReceipt" name="NetMsmqBinding_IGenReceipt" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8855/genreceipt" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ReceiptFetchServiceBehavior"
        name="TF.ReceiptManager.RGen.FetchReceipt">
        <endpoint address="net.pipe://receiptmanager" binding="netNamedPipeBinding" contract="TF.ReceiptManager.IRGen.IFetchReceipt" bindingConfiguration="NetNamedPipeBinding_IFetchReceipt" name="NetNamedPipeBinding_IFetchReceipt" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8855/fetchreceipt" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ReceiptGenServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="ReceiptFetchServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>
        <binding name="NetMsmqBinding_IGenReceipt">
          <security mode="Transport">
            <transport msmqAuthenticationMode="None" msmqEncryptionAlgorithm="RC4Stream" msmqProtectionLevel="None" msmqSecureHashAlgorithm="Sha1"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netMsmqBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IFetchReceipt">
          <security mode="None" />
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>

  <!-- This section contains the Application configuration settings.-->
  <appSettings>
    <!-- Receipt Manager Message Queue path.-->
    <add key="ReceiptManagerQueue" value=".\private$\receiptmanager"/>
  </appSettings>

  <!-- This section contains the Database connection configuration settings.-->
  <connectionStrings>
    <add name="RMRCON" connectionString="Server=192.168.1.51\TFDEVSERVER;database=VentoDev;uid=TfDevadmin;Pwd=TfDevadmin;enlist=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>